.Cell {
  height: 5vh;
  width: 3vw;
  border-radius: 5px;
  background-color: #263238;
  transition: background-color .7s ease;
  border: 2px solid white;
  padding: 3px;
}
.Cell-lit {
  background-color: #00bcd4;
}