.Palette{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Palette-colors{
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Palette-colors .goBack{
  background-color: black;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Palette-colors .goBack .backBtn{
  color: white;
  text-decoration: none;
  padding: 6px 8px;
  border: 1px solid white;
  border-radius: 5px;
}
/* SLIDER STYLES */
.slider{
  width: 340px;
  margin: 0px 10px;
  display: inline-block;
}
.rc-slider-rail ,
.rc-slider-track{
  height: 6px;
}
.rc-slider-track {
  background: rgb(73, 199, 193);
}
.rc-slider-handle{
  border:2px solid lightseagreen;
  margin-top: -4px;
}
.rc-slider-handle:active{
  border:2px solid lightseagreen;
  outline: none;
  margin-top: -4px;
}
