html{
  height: 100%;
}
body{
  height: 100%;
  background: linear-gradient( 90deg, #1CB5E0 0% , #000851 100% );
}
h1{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  font-weight: lighter;
}
.Form{
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  margin-top: 2rem;
  min-height: 80vh;
}
.Form > label{
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
}
.Form h4{
  text-align: center;
}
input[type='submit']:disabled{
  opacity: .2;
  color: #000851;
}
p{
  text-align: center;
}
.Results{
  border: 2px solid #00b0d7;
  padding: 3rem 0;
}