.Pokecard{
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, .56);
  text-align: center;
  background: white;
  border-radius: 3px;
}
.Pokecard-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: #eceff1;
  border-radius: 3px;
  margin: 1rem;
}
.Pokecard-image img{
  opacity: .6;
  transition: .5s;
}
.Pokecard-data{
  font-size: 16px;
}

/* 
      HOOVER 
*/

.Pokecard-image:hover img{
  transform: scale(1.5);
  opacity: .7;
}