.Pokedex{
  text-align: center;
}
/* 
    Looser winner tags 
*/
.Pokedex-winner{
  color: #4caf50;
}
.Pokedex-loser{
  color: #e91e63;
}

.Pokedex-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}